<nav class="top-bar" data-topbar="">
    <ul class="title-area">
      <!-- Title Area -->
      <li class="name">
        <h1>
          <%= link_to "home", root_path %>
        </h1>
      </li>
      <li class="toggle-topbar menu-icon"><a href="#"><span>menu</span></a></li>
    </ul>
 
    
  <section class="top-bar-section">
      <!-- Right Nav Section -->
      <ul class="right">
        <li class="divider"></li>
        
        <li><%= link_to "histórico", "/historico" %></li>
        <li class="divider"></li>
		<li><%= link_to "objetivos" , "/objetivos" %></li>
	    <li class="divider"></li>
		<li><%= link_to "noticias" , "/noticias" %></li>
        <li class="divider"></li>
		<li><%= link_to "contato" , "/contato" %></li>
        <li class="divider"></li>
        
      </ul>
    </section></nav>